@import "./variables";
///////////////////////////////////////
/// BASE
html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-family);
  font-size: var(--fsize-md);
  font-weight: var(--fweight-sm);
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

///////////////////////////////////////
/// APP
.app-container {
}
///////////////////////////////////////
/// HEADER
.header {
  &__heading {
  }
}
.searchbox {
  &__input {
  }
  &__icon {
  }
}
///////////////////////////////////////
/// OVERVIEW
.overview {
}
.info {
  &__field {
  }
  &__value {
  }
}
///////////////////////////////////////
/// MAP
.map {
}
