@import "./variables";
///////////////////////////////////////
/// BASE
html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-family);
  font-size: var(--fsize-md);
  font-weight: var(--fweight-sm);
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

///////////////////////////////////////
/// APP
.app-container {
  width: var(--desktop-width);
  height: 100vh;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
}
///////////////////////////////////////
/// HEADER
.header {
  position: relative;
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-sm);
  background-image: url("/images/pattern-bg-desktop.png");
  background-size: cover;
  background-repeat: no-repeat;
  &__heading {
    margin-top: var(--spacing-sm);
    color: var(--color-white);
  }
}
.searchbox {
  width: 40%;
  height: var(--spacing-regular);
  display: flex;
  background-color: var(--color-white);
  border-radius: calc(var(--radius-tiny) * 1.5);
  &__input,
  &__icon {
    cursor: pointer;
  }
  &__input {
    font: inherit;
    outline: none;
    flex-basis: 90%;
    padding-left: calc(var(--spacing-sm) * 0.8);
    border: none;
    border-radius: calc(var(--radius-tiny) * 1.5) 0 0
      calc(var(--radius-tiny) * 1.5);
    &::placeholder {
      color: var(--color-grey-transparent);
    }
  }
  &__icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 10%;
    background-color: var(--color-black);
    border: none;
    border-radius: 0 calc(var(--radius-tiny) * 1.5)
      calc(var(--radius-tiny) * 1.5) 0;
    &:hover {
      opacity: 0.9;
    }
  }
  &__error-message {
    position: absolute;
    top: 53%;
    color: rgb(255, 104, 104);
  }
}
///////////////////////////////////////
/// OVERVIEW
.overview {
  position: absolute;
  display: flex;
  gap: var(--spacing-tiny);
  left: 50%;
  transform: translateX(-50%);
  top: 22%;
  padding: calc(var(--spacing-regular) * 0.8) var(--spacing-sm);
  background-color: var(--color-white);
  border-radius: var(--radius-sm);
  width: 75%;
  &--loading {
    background-color: var(--color-white-transparent);
  }
}
.info {
  &:not(:first-of-type) {
    border-left: solid 1px var(--color-white-300);
    padding-left: var(--spacing-sm);
  }
  &:nth-of-type(2) {
    margin: 0 var(--spacing-tiny) 0 calc(var(--spacing-sm) * 1.7);
  }
  &:nth-of-type(3) {
    margin: 0 calc(var(--spacing-regular) * 1.5) 0 0;
    width: 16%;
  }
  display: flex;
  flex-direction: column;
  &__field {
    position: relative;
    bottom: calc(var(--spacing-tiny) * 0.6);
    font-size: calc(var(--spacing-tiny) * 1.2);
    font-weight: var(--fweight-lg);
    color: var(--color-dark-grey);
    text-transform: uppercase;
    letter-spacing: 0.2rem;
  }
  &__value {
    position: relative;
    top: calc(var(--spacing-tiny) * 0.6);
    font-weight: var(--fweight-md);
    font-size: calc((var(--fsize-lg)) * 1.1);
    width: 99%;
  }
}
///////////////////////////////////////
/// MAP
.map {
  flex-basis: 70%;
  background-color: aquamarine;
  z-index: -1;
}
